/* CSS declarations go here */
body{ 
    text-align:center;
    padding-top:50px;
    
}
a{
    text-decoration:none;
}
.selected {
    background:rgba(200, 100, 75, .3);
    font-size:1.5em;
}
ul {
    list-style:none;
    text-align:left;
}
li{
    padding:5px;
}
.badge{
    margin-right:5px;
    background:rgba(255,100,75,.7);
}
#login-dropdown-list{
    list-style:none;
}
li#login-dropdown-list {
    padding:0;
    margin:0;
}
 
a.dropdown-toggle{
    text-decoration:none;
    color:white;
}

